@page "/"


@using BlazorApp1.Data


@inject MyService MyService

<h3>Add Background Job</h3>

<button @onclick="AddBackgroundJob">Add Background Job</button>

@code {

    // 添加后台任务的方法
    private void AddBackgroundJob()
    {
        MyService.ScheduleBackgroundEnqueueJob();

        MyService.ScheduleBackgroundScheduleJob();

        MyService.ScheduleRecurringminutesJob();

        MyService.ScheduleRecurringDailysJob();

        MyService.ScheduleDailyAM2Task();

        MyService.ScheduleRecurringsecondsJob_1();

        MyService.ScheduleRecurringsecondsJob_2();

    }
}
